{% extends 'base.html' %} {% block head %}
<title>Robo-Advisor Portfolio</title>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
/>
<script>
  function confirmDeletion() {
    return confirm(
      "Are you sure? Both your portfolio and account will be deleted!"
    );
  }
</script>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Fund', 'Amount'],
      ['Citizens Mutual Fund 1', {{ entries.cmf1 }}],
      ['Citizens Mutual Fund 2', {{ entries.cmf2 }}],
      ['Nabil Balanced Fund 2', {{ entries.nb2 }}],
      ['Nabil Balanced Fund 3', {{ entries.nb3 }}],
      ['Global IME Balance Fund 1', {{ entries.gibf1 }}],
      ['Kumari Equity Fund', {{ entries.kef }}],
      ['Laxmi Value Fund', {{ entries.lvf }}],
      ['Mega Mutual Fund 1', {{ entries.mmf1 }}],
      ['NIBL Stable Fund', {{ entries.niblstf }}],
      ['RBB Mutual Fund 1', {{ entries.rmf1 }}],
      ['Sunrise First Mutual Fund', {{ entries.sfmf }}],
    ]);
    var options = {
      title: ''
    };
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
</script>
{% endblock %} {% block body %}
<div class="container">
  <h2>User Cashflow</h2>
  <a href="/logout" class="button Logout-btn">Logout</a>
  <a
    href="/delete/{{ entries.id }}"
    class="button delete-btn"
    onclick="return confirmDeletion();"
  >
    Delete
  </a>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Income/Month</th>
          <th>Rent/Month</th>
          <th>Loan Repayment</th>
          <th>Insurance Premium</th>
          <th>Healthcare Cost</th>
          <th>Education Cost</th>
          <th>Desired Savings</th>
          <th>Dependents</th>
          <th>Occupation</th>
          <th>Date Created</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ entries.username }}</td>
          <td>{{ entries.age }}</td>
          <td>{{ entries.income_per_month }}</td>
          <td>{{ entries.rent_per_month }}</td>
          <td>{{ entries.loan_repayment_per_month }}</td>
          <td>{{ entries.insurance_premium }}</td>
          <td>{{ entries.healthcare_cost_per_month }}</td>
          <td>{{ entries.education_cost_per_month }}</td>
          <td>{{ entries.desired_saving_per_month }}</td>
          <td>{{ entries.no_of_dependents }}</td>
          <td>{{ entries.occupation }}</td>
          <td>{{ entries.date_created.strftime('%Y-%m-%d') }}</td>
          <td>
            <a href="/" class="button update-btn"> Update </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <h2>Investment Portfolio</h2>
    <h2>
      <div class="card" id="piechart" style="width: max; height: 350px"></div>
    </h2>
  </div>
</div>
{% endblock %}
